body {
    background-color: #507151;
    color: white;
}

h1 {
    text-align: center;
    text-decoration: underline 2px;
    padding: 0.5em;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
}

h2, a {
    padding: 1em;
    color: rgb(255, 153, 0);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

p {
    text-align: center;
    font-size: 22px;
    display: block;
    line-height: 35px;
    font-family: 'Kanit', sans-serif;
}

section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 900px;
    overflow: hidden;
    padding-top: 10em;
}

.slides {
    width:400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual__navigation {
    position: relative;
    width: 800px;
    margin-top: 432px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    display: flex;
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #FFF;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

.navigation__auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation__auto {
    position: absolute;
    width: 800px;
    margin-top: 832px;
    display: flex;
    justify-content: center;
}

.navigation__auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation__auto .auto-btn1 {
    background-color: #FFF;
}

#radio2:checked ~ .navigation__auto .auto-btn2 {
    background-color: #FFF;
}
