
body {
    background-color: #ff7300;
    width: auto;
    height: auto;


}

.container {
    display: flex;
}

.muié {
    flex: 1;
    padding: 10px;
    padding-left: 300px;
    margin-top: 40px;
}

.homem {
    flex: 1;
    padding: 10px;
    padding-left: 300px;
    margin-top: 40px;
}

.border {
    border: x solid;
    border-radius: 30px;
    margin-left: 5em;
    margin-right: 5em;
    padding: 1em;
    background-color: #fff;
    transition: all 0.5s;
}

.border:hover {
    border-radius: 60px;
    transform: scale(1.02);
    transition: all 0.5s;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;  
    margin: 1em;
}

#pais {
    color:black; 
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
}

h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    background-color: rgb(255, 166, 0);
    border: 0 solid #131313;
    border-radius: 360px;
    width: 300px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 2px 2px 2px #ff7300;
}

a {
    color: black;
    font-family: 'Climate Crisis' cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Tulpen One', cursive;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    text-shadow: 2px 2px 3px #888;
    text-decoration: underline;
}

.album {
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 900px;
    margin: 3em;
    margin-left: 17em;
    padding: 0;
    border-radius: 5px;
    background-color: #ff7300;
}



.content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.btnr {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid transparent;
    font-size: 23px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #acd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #0000;
}

.btnr:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(90deg) translate(-150%, -50%);
    transition: all 0.9s;
} 

.btnr:hover {
    background-color: #4cc9f0;
    color: #FFF;
    box-shadow: 0 2px 0 2px;
}

.btnr:hover::before {
    transform: skewX(30deg) translate(360%, -50%);
    transition-delay: 0.1s;
}

.btnr:active {
    transform: scale(0.9);
}

button:hover {
    background-color: rgb(241, 249, 5);
}

button:active {
    background-color: rgb(255, 255, 108);
}

