@import url(./CSS/botrec.css);

body {
    background-color: #ff8800;
    
}

a {
    text-decoration: none;
}

img {
    display: block;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}


h1 {
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5em;
    width: 97.9%;
    height: 80%; /* Ajuste a altura conforme necessário */
}

h3 {
    text-align: center;
    padding-top: 0.6em;
}

.sobre {
    text-align: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.8rem;
    color: white;
}

.container a {
    background-color: white;
    text-decoration: none;
    color: #663f1f;
    padding: 0.4em;
    margin: 0.8em;
    border: 01px solid;
    border-radius: 10px;
    grid-template-columns: 1fr;
    
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 6em;
}


.pais {
    font-size: 20px;

}

#pais {
    justify-content: center;
   color: black;
   font-family: 'Nunito', sans-serif;     
}
