body {
    background-color: rgb(164, 74, 74);
    padding: 20px 30px;
}
h1 {
    font-family: 'Tulpen One', cursive;
    letter-spacing: 2px;
    font-size: 45px;
    color: #fff;
    margin-top: 50px;
    text-align: center;
}
p {
    font-family: 'Tulpen One', cursive;
    color: #cdc6c6;
    font-size: 20px;
    margin-top: 80px;
    text-align: center;
    line-height: 1.5;
    float: left;
}
footer {
    color: rgb(211, 162, 71);
    font-size: 20px;
}
